<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Pickup</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/splash.css" />    
  </head>

  <body>

    <div id="navigation">
      <div class="splashTop">
  	   Error
      </div>
    </div>
    
   <div class="facebookLogin">
      <button class="errorbutton">
        <a href="/home/">
          {{errortext}}
        </a>
      </button>
    </div> 
   
  </body>
  
</html>
