<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Web F. Site</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/splash.css" />    
  </head>

  <body>

    <div id="navigation">
      <div class="splashTop">
        <img src="/static/images/logo-copy.png">	
      </div>
    </div>
    
    <div class="facebookLogin">
      <button class="fbLogin">
        <a href="/home/">                          
	  f | foo and bar 
	</a>
      </button>
    </div>

    <div class="enterSiteButton">
      <button class="enterSite">
        <a href="/home/">
          Enter the site.
        </a>
      </button>
    </div>
  </body>
</html>
