<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>

<p>My first paragraph.</p>


{% for user in members %}
<div class="user">
  foo
  <p>{{user.firstname}} {{user.lastname}}</p>
</div>
{% endfor %}

<h2> Here are the items! </h2>
{% for item in items %}
  <div class="item">
    {{item.name}} - {{item.frequency}}
  </div>
{% endfor %}

<div class="add-item">
  <form name="input" action="/addItem/" method="post">
    {% csrf_token %}
    <div class="textbox">
     <textarea class="addItemPrompt" name="itemName"> New Item... </textarea>
      <div style="width: 100%; text-align:center;">
      <input type="submit" class="button" value="Submit"></div>
    </div>

  </form>
</div>

</body>
</html>