body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

li {
display: list-item;
text-align: left;
}

ul, ol {
    margin-left: 25%
}

.btn-success {
    border-color: #000000;
}