<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Web F. Site</title>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/directory.css" />
    <script src="/static/js/directory.js"></script>    
  </head>

  <body>
    
    <div id="fb-root"></div>
    
    {% include 'nav.html' %}

    <div class="break">      
    </div>

    <div id="main">
      <div id="container">
        
        <div id="data" display="none">
          <input type="hidden" value="{{fbappid}}" />
        </div>    

        {% regroup members by year as year_list %}

        {% for year in year_list %}

        <div class="heading">
          {{ year.grouper }}
        </div>

        {% for user in year.list %}
        {% if not user.fbid == None %}
	<div class="member">
	  <a href=http://facebook.com/{{user.fbid}} ><img src= {{user.largepic}} /> </a>
          
	  {% if not user.isfriend %}
	  <div class="addFriend">
	    Add Friend
            <input type="hidden" value="{{user.fbid}}" />
	  </div>
	  {% endif %}
	  
	  <div class="memberName">
	    <a href=http://facebook.com/{{user.fbid}} > {{user.firstname}} {{user.lastname}} </a>
	  </div>
	</div>
        {% endif %}        
        
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    
  </body>
  
</html>
